<div class="page-header">
  <h1>Fields</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newFieldsPath() %>" class="btn btn-primary">Create New Field</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Type</th>
    <th>AllowNull</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (field) in fields { %>
      <tr>
      <td><%= field.Name %></td>
        <td><%= field.Type %></td>
        <td><%= field.AllowNull %></td>
        <td><%= field.Description %></td>
        <td>
          <div class="pull-right">
            <a href="<%= fieldPath({ field_id: field.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editFieldPath({ field_id: field.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= fieldPath({ field_id: field.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
