<div class="page-header">
  <h1>Versions</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newVersionsPath() %>" class="btn btn-primary">Create New Version</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Output</th>
    <th>Status</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (version) in versions { %>
      <tr>
      <td><%= version.Name %></td>
        <td><%= version.Output %></td>
        <td><%= version.Status %></td>
        <td>
          <div class="pull-right">
            <a href="<%= versionPath({ version_id: version.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editVersionPath({ version_id: version.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= versionPath({ version_id: version.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
