<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>
        <li class="nav-title">Projects</li>
        <li class="nav-item">
            <a class="nav-link" href="/services">
                <i class="nav-icon icon-puzzle"></i> Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/events">
                <i class="nav-icon icon-pencil"></i> Events</a>
        </li>
        <li class="nav-title">Nodes</li>
        <li class="nav-item">
            <a class="nav-link" href="colors.html">
                <i class="nav-icon icon-drop"></i> Queues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="typography.html">
                <i class="nav-icon icon-star"></i> Workers</a>
        </li>
        
        <li class="divider"></li>
        <li class="nav-title">Extras</li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-settings"></i> Settings</a>
            
        </li>
    </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>