<div class="page-header">
  <h1>Event#Show</h1>
</div>
<ul class="list-unstyled list-inline">
  <a href="<%= editServiceEventPath({ service_id: event.ServiceID, event_id: event.ID }) %>" class="btn btn-warning">Edit</a>
  <a href="<%= serviceEventPath({ service_id: event.ServiceID, event_id: event.ID, csrf: authenticity_token }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= event.Name %>
</p>
<p>
  <strong>EventID</strong>: <%= event.ServiceID %>
</p>
<p>
  <strong>Description</strong>: <%= event.Description %>
</p>
<p>
  <strong>Status</strong>: 
  <%= if (event.Status == 1) { %>
    Active
  <% } else { %>
    Inactive
  <% } %>
</p>

<div class="page-header">
  <h2>Versions</h2>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newServiceEventVersionsPath( { service_id: event.ServiceID, event_id: event.ID } ) %>" class="btn btn-primary">Create New Version</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Status</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (version) in event.Versions { %>
      <tr>
      <td><%= version.Name %></td>
      <%= if (version.Status == 1) { %>
        <td>Active</td>
      <% } else { %>
        <td>Inactive</td>
      <% } %>
        <td>
          <div class="pull-right">
            <a href="/services/<%= event.ServiceID %>/events/<%= event.ID %>" class="btn btn-info">View</a>
            <a href="<%= editServiceEventVersionPath({ service_id: event.ServiceID, event_id: event.ID, version_id: version.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= serviceEventPath({ service_id: event.ServiceID, event_id: event.ID, version_id: version.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>